.app {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-family: 'Roboto', Arial, 'Segoe UI', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  border: none;
  padding: 0;
}
